[submodule "vimfiles/bundle/vim-coffee-script"]
	path = vimfiles/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimfiles/bundle/JSON.vim"]
	path = vimfiles/bundle/JSON.vim
	url = https://github.com/vim-scripts/JSON.vim
[submodule "vimfiles/bundle/taglist.vim"]
	path = vimfiles/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vimfiles/bundle/Gundo"]
	path = vimfiles/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo
[submodule "vimfiles/bundle/jade.vim"]
	path = vimfiles/bundle/jade.vim
	url = https://github.com/vim-scripts/jade.vim
[submodule "vimfiles/bundle/vim-shell"]
	path = vimfiles/bundle/vim-shell
	url = https://github.com/xolox/vim-shell
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/vim-indent-guides"]
	path = vimfiles/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/vim-matchit"]
	path = vimfiles/bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/html5.vim"]
	path = vimfiles/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
